html,body{
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.height-100{
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}

.vertical-scroll{
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
